body {
    background-color: darkcyan;
    color: beige;
}

#hello {
    display: flex;
    justify-content: center;
}

.header {
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.qHeader {
    border: 40px;
    border-color: black;
}

.score {
    display: flex;
    justify-content: center;
}

#finalScore {
    display: flex;
    justify-content: center;
}

.timer{
    display: flex;
    justify-content: center;
}
.hide {
    display: none;
}

#time {
    display: flex;
    justify-content: center;
}

#buttonSize {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    justify-content: center;

}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}