#hello {
    display: flex;
    justify-content: center;
}

.header {
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

#correct {
    color: black;
}

.wrong {
    color: black;
    
}

.hide {
    display: none;
}

/* .questionElements {
    display: none
} */

/* .questionElements {

} */

/* .qa-block {
    display: flex;
    flex-direction: column;
} */

#buttonSize {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}